*.csproj.vspscc
*.csproj.user
*.resharper.user
*.gpState
*.vssscc
obj
bin
*.suo
*.sln.cache
*.vshost.exe
*.vshost.exe.manifest
*.pyc
*.obj
*.user
*.ncb
*.os
*.o
*.scons
Debug
_UpgradeReport_Files
.sconsign.dblite
build
